---

---

<div>
  <p id="content">Hello</p>
  <button id="demo">Click Me to Fetch Fragment</button>
</div>

<script>
  // fetch demo framgent
  async function fetchDemoFragment() {
    try {
      const response = await fetch(`/fragments/demoFragment`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      });

      if (!response.ok) {
        throw new Error(`Failed to fetch: ${response.statusText}`);
      }

      return await response.text();
    } catch (error) {
      console.error("Erorr fetching demo fragment:", error);
      return "Error loading content";
    }
  }
  // Function to update the content
  async function updateContent() {
    const contentElement = document.getElementById("content");
    if (!contentElement) return;
    const demoFragment = await fetchDemoFragment();
    contentElement.innerHTML = demoFragment;
  }

  const button = document.getElementById("demo");
  button?.addEventListener("click", updateContent);
</script>
