---

---

<div>
  <p id="content">Foo</p>

  <button
    id="demo"
    hx-post="/fragments/demoFragment"
    hx-target="#content"
    hx-swap="innerHTML"
  >
    Click Me
  </button>
</div>

<script
  src="https://unpkg.com/htmx.org@2.0.3"
  integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
  crossorigin="anonymous"></script>
